html {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 2em;
  background-color: floralwhite;
}
* {
  color: red;
}

::-moz-selection {
  background-color: red;
}

::selection {
  background-color: red;
}

.heading {
  text-align: center;
}

.gradient-text {
  /* font-size: 72px; */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
  gap: 10px;
}

.button {
  outline: none;
  border: none;
  border-radius: 10px;
  min-height: 40px;
  min-width: 100px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 0.5em;
  color: white;
  cursor: pointer;
  background-color: #30537c;
}

#imageUploadPreviewContainer {
  width: 90%;
  border-radius: 30px;
}

#colorsFound {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.color {
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: text;
  user-select: text;
}
.mini-container {
  display: flex;
  flex-direction: column;
}
